



@media (max-width:992px){
    .header{
        display: none;
    }
    .header-respons{
        display: block;
    }
    .cards{
        .all{
            .box{
                .text{
                    margin-bottom: 30px;
                }
            }
        }
    }
}
@media (max-width:768px){
    
}
